.form-field-date-time-select-menu {
    clear:both;

    .form-field-select-menu {
        width: 180px;
        display: inline-block;
    }
    .form-select-menu {
        width: 160px;
    }
    .ui-selectmenu-menu {
        max-height: 200px;
        overflow: auto;
    }
}
