.form-field-date-time-select-menu {
  clear: both;
}
.form-field-date-time-select-menu .form-field-select-menu {
  width: 180px;
  display: inline-block;
}
.form-field-date-time-select-menu .form-select-menu {
  width: 160px;
}
.form-field-date-time-select-menu .ui-selectmenu-menu {
  max-height: 200px;
  overflow: auto;
}
